In [1]:
from krxpricereader import krxpricereader

In [2]:
import pandas as pd
import requests
import time
from datetime import datetime,timedelta

In [3]:
priceobj = krxpricereader()

In [4]:
samsung_krx = priceobj.get_stock_price('A005930', '20180101', '20190101')

In [5]:
samsung_krx.head(30)

,tdd_clsprc,fluc_tp,tdd_cmpr,acc_trdvol,acc_trdval,tdd_opnprc,tdd_hgprc,tdd_lwprc,mktcap,list_shrs,short_code,codeName
trd_dd,,,,,,,,,,,,
2018-12-28,38700,1,450,"9,900,267","382,575,637,240","38,250","38,900","38,200","231,030,585","5,969,782,550",A005930,삼성전자
2018-12-27,38250,2,100,"10,510,643","403,520,824,950","38,700","38,800","38,100","228,344,183","5,969,782,550",A005930,삼성전자
2018-12-26,38350,2,450,"12,707,675","488,546,395,500","38,400","38,750","38,300","228,941,161","5,969,782,550",A005930,삼성전자
2018-12-24,38800,1,150,"9,729,530","376,007,004,600","38,500","39,050","38,300","231,627,563","5,969,782,550",A005930,삼성전자
2018-12-21,38650,3,0,"14,947,080","575,188,706,454","38,200","38,650","38,100","230,732,096","5,969,782,550",A005930,삼성전자
2018-12-20,38650,2,450,"11,937,617","462,009,678,419","38,600","39,100","38,500","230,732,096","5,969,782,550",A005930,삼성전자
2018-12-19,39100,1,200,"9,942,037","388,002,233,278","38,900","39,350","38,850","233,418,498","5,969,782,550",A005930,삼성전자
2018-12-18,38900,2,250,"11,042,101","429,736,490,346","38,300","39,200","38,300","232,224,541","5,969,782,550",A005930,삼성전자
2018-12-17,39150,1,200,"11,532,968","452,402,501,320","38,650","39,600","38,650","233,716,987","5,969,782,550",A005930,삼성전자
2018-12-14,38950,2,"1,050","19,671,783","768,559,029,290","40,200","40,200","38,700","232,523,030","5,969,782,550",A005930,삼성전자
2018-12-13,40000,2,450,"26,254,646","1,054,672,523,100","40,650","40,750","40,000","238,791,302","5,969,782,550",A005930,삼성전자
2018-12-12,40450,1,200,"12,024,279","486,186,060,392","40,250","40,700","40,150","241,477,704","5,969,782,550",A005930,삼성전자
2018-12-11,40250,1,50,"10,638,766","429,054,464,300","40,600","40,700","40,200","258,377,819","6,419,324,700",A005930,삼성전자
2018-12-10,40200,2,750,"14,892,263","598,916,715,336","40,450","40,650","40,000","258,056,853","6,419,324,700",A005930,삼성전자
2018-12-07,40950,1,450,"11,433,083","469,836,158,250","40,900","41,400","40,850","262,871,346","6,419,324,700",A005930,삼성전자
2018-12-06,40500,2,950,"14,251,826","579,350,131,900","40,600","41,100","40,450","259,982,650","6,419,324,700",A005930,삼성전자
2018-12-05,41450,2,700,"12,631,983","522,454,917,535","40,900","41,750","40,850","266,081,009","6,419,324,700",A005930,삼성전자
2018-12-04,42150,2,"1,100","14,347,746","605,987,183,391","42,650","42,900","41,900","270,574,536","6,419,324,700",A005930,삼성전자
2018-12-03,43250,1,"1,400","12,110,702","521,013,724,675","42,750","43,400","42,400","277,635,793","6,419,324,700",A005930,삼성전자
2018-11-30,41850,2,"1,300","19,775,519","838,775,278,782","43,450","44,000","41,750","268,648,739","6,419,324,700",A005930,삼성전자
2018-11-29,43150,3,0,"8,473,511","367,283,420,273","43,850","43,850","42,900","276,993,861","6,419,324,700",A005930,삼성전자
2018-11-28,43150,1,100,"6,943,099","298,451,186,806","42,800","43,200","42,750","276,993,861","6,419,324,700",A005930,삼성전자
2018-11-27,43050,1,450,"8,367,091","358,411,353,235","42,900","43,100","42,500","276,351,928","6,419,324,700",A005930,삼성전자
2018-11-26,42600,1,200,"6,613,009","281,292,956,782","42,150","42,800","42,100","273,463,232","6,419,324,700",A005930,삼성전자
2018-11-23,42400,2,50,"5,192,638","219,016,162,650","42,450","42,600","41,900","272,179,367","6,419,324,700",A005930,삼성전자
2018-11-22,42450,1,350,"5,970,796","253,026,136,500","42,000","42,650","42,000","272,500,334","6,419,324,700",A005930,삼성전자
2018-11-21,42100,2,700,"10,769,589","452,948,578,450","41,800","42,300","41,800","270,253,570","6,419,324,700",A005930,삼성전자
2018-11-20,42800,2,850,"9,420,664","402,663,272,818","42,450","43,000","42,100","274,747,097","6,419,324,700",A005930,삼성전자
2018-11-19,43650,2,350,"7,538,720","329,484,578,450","44,050","44,250","43,450","280,203,523","6,419,324,700",A005930,삼성전자
2018-11-16,44000,2,250,"7,777,124","343,558,543,950","44,600","44,750","43,700","282,450,287","6,419,324,700",A005930,삼성전자

In [6]:
def to_unix(str_type):
    str_type = pd.to_datetime(str_type) + timedelta(hours=9)
    str_type = int(time.mktime(str_type.timetuple()))
    return str_type

In [7]:
num_code = '005930'
fromdate = '20150101'
todate = '20200101'

In [8]:
dt1 = pd.to_datetime('20200101')
dt2 = pd.to_datetime('20150101')

In [34]:
days = len(pd.date_range(dt2, dt1, freq="B"))

In [36]:
days * 0.9

1174.5

In [11]:
scr_num = int(days/100) * 12

In [12]:
fromdate = to_unix(fromdate)
todate = to_unix(todate)

In [13]:
url = 'https://finance.yahoo.com/quote/{0}.KS/history?period1={1}&period2={2}&interval=1d&filter=history&frequency=1d'.format(num_code, fromdate,todate)

In [14]:
url

'https://finance.yahoo.com/quote/005930.KS/history?period1=1420070400&period2=1577836800&interval=1d&filter=history&frequency=1d'

In [15]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import phantomjs

In [44]:
from bs4 import BeautifulSoup as bs

In [45]:
driver = webdriver.Chrome('C:/chromedriver/chromedriver.exe')

In [46]:
driver.get(url)

In [48]:
time_period_button = driver.find_element_by_css_selector('#Col1-1-HistoricalDataTable-Proxy > section > div.Mt\(15px\).drop-down-selector.historical > div.Bgc\(\$lv1BgColor\).Bdrs\(3px\).P\(10px\) > div:nth-child(1) > div > div > div > svg')
time_period_button.click()
max_button = driver.find_element_by_css_selector('#dropdown-menu > div > ul:nth-child(2) > li:nth-child(4) > button')
max_button.click()
r = driver.page_source
soup = bs(r, 'lxml')
max_date = soup.find('span', class_ = 'C($linkColor) Fz(14px)').text.split('-')[0].strip()
pd.to_datetime(max_date)

In [55]:
max_date = soup.find('span', class_ = 'C($linkColor) Fz(14px)').text.split('-')[0].strip()

In [57]:
pd.to_datetime(max_date)

Timestamp('2000-01-04 00:00:00')

In [58]:
max_date

'Jan 04, 2000'

In [18]:
element = driver.find_element_by_css_selector('#yfin-usr-qry')

In [26]:
for _ in range(200):
    element.send_keys(Keys.PAGE_DOWN) ## 7번 하면 100개가 넘어간다. / 그 다음부터는 6번

In [31]:
a = pd.read_html(driver.page_source)[0].iloc[:-1]

In [33]:
a

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Dec 30, 2019",56200.00,56600.00,55700.00,55800.00,55800.00,8356767
1,"Dec 27, 2019",55700.00,56900.00,55500.00,56500.00,56500.00,12313056
2,"Dec 26, 2019",54700.00,55400.00,54400.00,55400.00,55400.00,9645034
3,"Dec 24, 2019",55600.00,55700.00,54800.00,55000.00,55000.00,11868463
4,"Dec 23, 2019",56100.00,56400.00,55100.00,55500.00,55500.00,9839252
...,...,...,...,...,...,...,...
1235,"Jan 08, 2015",26780.00,26780.00,26200.00,26280.00,254.86,14477600
1236,"Jan 07, 2015",25880.00,26220.00,25640.00,26140.00,253.50,14322750
1237,"Jan 06, 2015",26300.00,26340.00,25760.00,25900.00,251.17,15235500
1238,"Jan 05, 2015",26720.00,26720.00,26260.00,26660.00,258.54,10139500
1239,"Jan 02, 2015",26800.00,26800.00,26540.00,26600.00,257.96,8774950

In [240]:
a[0].iloc[1100:1150]

,Date,Open,High,Low,Close*,Adj Close**,Volume
1100,"Jul 23, 2015",24880.00,25060.00,24680.00,24680.00,249.08,10448250
1101,"Jul 22, 2015",24880.00,25200.00,24700.00,25060.00,252.92,13416150
1102,"Jul 21, 2015",25500.00,25540.00,24940.00,25260.00,254.94,9702750
1103,"Jul 20, 2015",25820.00,26080.00,25460.00,25500.00,257.36,6446400
1104,"Jul 17, 2015",26000.00,26220.00,25560.00,26100.00,263.42,14861650
1105,"Jul 16, 2015",24460.00,25740.00,24460.00,25640.00,258.77,11173450
1106,"Jul 15, 2015",24500.00,24760.00,24480.00,24700.00,249.29,8370650
1107,"Jul 14, 2015",25300.00,25400.00,24420.00,24500.00,247.27,19989700
1108,"Jul 13, 2015",25000.00,25440.00,24900.00,25320.00,255.54,7672050
1109,"Jul 10, 2015",25140.00,25320.00,24960.00,25180.00,254.13,9573400
1110,"Jul 09, 2015",24600.00,25300.00,24520.00,25300.00,255.34,14030500
1111,"Jul 08, 2015",24800.00,25020.00,24640.00,24780.00,250.09,11780950
1112,"Jul 07, 2015",24400.00,25180.00,24400.00,24800.00,250.29,12478250
1113,"Jul 06, 2015",25060.00,25200.00,24460.00,24600.00,248.28,10099950
1114,"Jul 03, 2015",25740.00,25880.00,25340.00,25360.00,255.95,7130200
1115,"Jul 02, 2015",25720.00,26080.00,25700.00,25980.00,262.20,8223000
1116,"Jul 01, 2015",25360.00,26040.00,25180.00,25900.00,261.40,8324900
1117,"Jun 30, 2015",25520.00,25700.00,25320.00,25360.00,255.95,9870350
1118,"Jun 29, 2015",25380.00,25700.00,25120.00,25620.00,258.57,11519950
1119,"Jun 29, 2015",1000 Dividend,1000 Dividend,1000 Dividend,1000 Dividend,1000 Dividend,1000 Dividend
1120,"Jun 26, 2015",25040.00,25800.00,25040.00,25560.00,247.87,10347500
1121,"Jun 25, 2015",25800.00,26060.00,25380.00,25380.00,246.13,10695800
1122,"Jun 24, 2015",26000.00,26220.00,25820.00,26040.00,252.53,10198000
1123,"Jun 23, 2015",26180.00,26560.00,25820.00,26420.00,256.21,10159000
1124,"Jun 22, 2015",25820.00,25920.00,25520.00,25620.00,248.45,6370900
1125,"Jun 19, 2015",25320.00,25560.00,25200.00,25320.00,245.55,7094750
1126,"Jun 18, 2015",25180.00,25580.00,25020.00,25300.00,245.35,8247600
1127,"Jun 17, 2015",25000.00,25320.00,24800.00,25080.00,243.22,9452300
1128,"Jun 16, 2015",25400.00,25480.00,24900.00,25100.00,243.41,12767600
1129,"Jun 15, 2015",25100.00,25480.00,25100.00,25400.00,246.32,8067800
1130,"Jun 12, 2015",25560.00,25740.00,25280.00,25540.00,247.68,11741500
1131,"Jun 11, 2015",25260.00,25480.00,25060.00,25140.00,243.80,15314050
1132,"Jun 10, 2015",25640.00,25880.00,25240.00,25240.00,244.77,12501700
1133,"Jun 09, 2015",26000.00,26200.00,25360.00,25640.00,248.65,13735250
1134,"Jun 08, 2015",26900.00,26940.00,26260.00,26280.00,254.86,10118950
1135,"Jun 05, 2015",26500.00,27100.00,26400.00,26820.00,260.09,9828150
1136,"Jun 04, 2015",26300.00,26820.00,26100.00,26740.00,259.32,19411950
1137,"Jun 03, 2015",26060.00,26320.00,25300.00,25460.00,246.90,11769400
1138,"Jun 02, 2015",26000.00,26060.00,25760.00,26060.00,252.72,8757550
1139,"Jun 01, 2015",26000.00,26020.00,25760.00,25820.00,250.39,10921950
1140,"May 29, 2015",26400.00,26420.00,25940.00,26140.00,253.50,17380750
1141,"May 28, 2015",26340.00,26420.00,26020.00,26180.00,253.89,15048150
1142,"May 27, 2015",27200.00,27320.00,26260.00,26280.00,254.86,17265450
1143,"May 26, 2015",27320.00,27380.00,26720.00,27240.00,264.16,10034150
1144,"May 22, 2015",27060.00,27060.00,26700.00,27000.00,261.84,8195800
1145,"May 21, 2015",27420.00,27440.00,26880.00,27040.00,262.23,7210600
1146,"May 20, 2015",26980.00,27400.00,26820.00,27320.00,264.94,10291450
1147,"May 19, 2015",26420.00,27100.00,26140.00,26760.00,259.51,8680900
1148,"May 18, 2015",26700.00,26700.00,26180.00,26400.00,256.02,9626850
1149,"May 15, 2015",27100.00,27120.00,26420.00,26520.00,257.18,8922350

In [21]:
r = requests.get(url).text

In [23]:
data = pd.read_html(r)

In [24]:
len(data)

1

In [26]:
data[0]

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Feb 06, 2020",60100.00,61100.00,59700.00,61100.00,61100.00,14663362
1,"Feb 05, 2020",60000.00,60200.00,58900.00,59500.00,59500.00,19278165
2,"Feb 04, 2020",57100.00,59000.00,56800.00,58900.00,58900.00,21800192
3,"Feb 03, 2020",55500.00,57400.00,55200.00,57200.00,57200.00,23995260
4,"Jan 31, 2020",57800.00,58400.00,56400.00,56400.00,56400.00,19749457
...,...,...,...,...,...,...,...
96,"Sep 16, 2019",47000.00,47100.00,46400.00,47100.00,47100.00,15550926
97,"Sep 11, 2019",47300.00,47400.00,46800.00,47150.00,47150.00,16141619
98,"Sep 10, 2019",-,-,-,-,-,-
99,"Sep 09, 2019",46450.00,47000.00,46300.00,46900.00,46900.00,9434157
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [39]:
24 * 2500 /(60 * 60)

16.666666666666668

In [41]:
from yahoo_finance import Share

In [42]:
samsung = Share('005930.KS')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
sa